<template>
  <img alt="Vue logo" src="./assets/logo.png" />
  <HelloWorld msg="Hello Vue 3 + TypeScript + Vite" />
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, eius! Harum explicabo earum laborum corrupti error
    quos, reiciendis animi ratione dolor repellendus ut perferendis dicta recusandae neque quas, quis nulla.
  </p>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import HelloWorld from './components/HelloWorld.vue';

  export default defineComponent({
    name: 'App',
    components: {
      HelloWorld,
    },
  });
</script>

<style >
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
